@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111111;
  --foreground: #f1f1f1;
  --base_gradient: linear-gradient(90deg, #b5179e, #7209b7 100%);
  --darklategrey: #303030;
  --whitegrey: #b8b8b8;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 46px 42px;
}

.base_gradient_text {
  background: var(--base_gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.base_gradient_background {
  background: var(--base_gradient);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
