@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111111;
  --foreground: #fff;
  --base_gradient: linear-gradient(90deg, #b5179e, #7209b7 100%);
  --darklategrey: #303030;
  --erieblack: #1D1D1D;
  --whitegrey: #b8b8b8;
  --baseviolet: #b5179e;

  /* Font */
  --font-geist-sans: "inter", sans-serif;
  --font-geist-mono: "inter italic", sans-serif;
}
body {
  color: var(--foreground);
  background: var(--background);
  padding: 10px 26px 0 26px;
  font-family: var(--font-geist-sans);
}

.italic {
  font-family: var(--font-geist-mono);
}

.base_gradient_text {
  background: var(--base_gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.base_gradient_background {
  background: var(--base_gradient);
}

.base_gradient_background_hover:hover {
  background: var(--base_gradient);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
